  /*Coolors colors: https://coolors.co/0a1128-001f54-034078-1282a2-fefcfb*/
  /*Sticky footer*/

  .Site {
    /* display: flex; */
    min-height: 100vh;
    flex-direction: column;
  }

  .main-content-section {
    flex: 1;
    min-height: 100vh;
    margin-bottom: 0px;
    background-color: #1282A2;
  }

  .navbar {
    border-bottom: 7px solid #0A1128;
  }

   .footer {
     border-top: 7px solid #0A1128;
   }

   .aboutBlog {
     margin-top: 10px;
   }

   .blogPostCard {
     border: 1px solid #0A1128;
   }

