  /*Sticky footer*/

  .Site {
    /* display: flex; */
    min-height: 100vh;
    flex-direction: column;
  }

  .main-content-section {
    flex: 1;
    min-height: 100vh;
    margin-bottom: 0px;
  }

  .navbar {
    border-bottom: 7px solid #73749E;
  }

   .footer {
     border-top: 7px solid #73749E;
   }

